.custom-map-marker {
    position: relative;
}
.marker-pin {
    width: 25px;
    height: 25px;
    border-radius: 50% 50% 50% 0;
    background: #FF8F28;
    position: absolute;
    transform: rotate(-45deg);
    left: 0;
    top: 0;
}
.marker-pin-empty {
    opacity: 0.5;
    width: 15px;
    height: 15px;
}
.marker-text {
    position: absolute;
    top: 2.5px;
    left: 0;
    width: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    transform: rotate(0deg);
}

.place-popup ul {
    max-width: 250px;
}

.place-popup ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.place-popup ul li {
    white-space: nowrap;
    overflow: hidden; /* Скрываем то, что не помещается */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.place-popup ul li span {
    color: gray;
}