body { margin: 0;}
html { font-size: 80%; }

/* Для WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.pulse-circle {
    width: 6px; /* Начальный размер */
    height: 6px; /* Начальный размер */

    background-color: #ffffff; /* Цвет (например, зеленый) */

    border-radius: 50%; /* Делаем круг */

    /* Анимация */
    animation: blink-animation 2s infinite cubic-bezier(0.4, 0, 0.6, 1);

}

.typing-dots {
    display: inline-block; /* Чтобы не занимать всю строку */
    text-align: left; /* Выравнивание по левому краю, как у текста */
}

.typing-dots span {
    display: inline-block;
    width: 10px; /* Размер кружочка */
    height: 10px; /* Размер кружочка */

    margin: 0 3px; /* Отступы между точками */

    border-radius: 50%; /* Делаем круг */
    background-color: #666; /* Цвет точек (серый) */

    opacity: 0; /* Изначально точки невидимы */

    animation: bounce 1.4s infinite ease-in-out;
}

/* Задержка для каждой точки, чтобы они загорались по очереди */
.typing-dots span:nth-child(1) { animation-delay: -0.32s; }
.typing-dots span:nth-child(2) { animation-delay: -0.16s; }
/* Третий не имеет задержки, он начинает с 0s */

/* Ключевые кадры анимации */
@keyframes bounce {
    0%, 80%, 100% {
        opacity: 0;
        transform: scale(0); /* Уменьшаем до точки */
    }
    40% {
        opacity: 1;
        transform: scale(1); /* Нормальный размер */
    }
}

/* 1. Определяем саму анимацию */
@keyframes blink-animation {
    0%   { opacity: 1; } /* Текст полностью виден в начале */
    50%  { opacity: 0.3; } /* Текст становится невидимым в середине */
    100% { opacity: 1; } /* Текст снова становится видимым в конце */
}

/* 2. Применяем анимацию к нужному элементу */
.blink {
    animation: blink-animation /* Название анимации */
    3s            /* Длительность одного цикла (1 секунда) */
    linear        /* Скорость анимации (постоянная) */
    infinite;     /* Бесконечное повторение */
}